<main class="grid place-content-center h-screen">
  <article class="max-w-sm mx-auto" *ngIf="!modeRegister">
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Usuario o Correo
      </label>
      <input
        [(ngModel)]="loginForm.userOrEmail"
        name="userOrEmail"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light transition-all ease-in-out"
        placeholder="arisu@arisu.com"
        required
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        type="password"
        (keyup.enter)="login()"
        [(ngModel)]="loginForm.password"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required
      />
    </div>
    <button
      (click)="login()"
      [disabled]="disabledLogin"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full"
    >
      Iniciar Sesión
    </button>

    <div class="mt-5">
      <a
        (click)="toggleRegister()"
        class="text-blue-500 hover:text-blue-800 select-none cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-blue-600 dark:hover:text-blue-700 dark:focus:ring-blue-800"
      >
        ¿Eres nuevo?, Registrate
      </a>
    </div>
  </article>

  <article class="max-w-sm mx-auto" *ngIf="modeRegister">
    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Correo
      </label>
      <input
        type="email"
        id="email"
        [(ngModel)]="registerForm.email"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light transition-all ease-in-out"
        placeholder="arisu@arisu.com"
        required
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Nombre Completo</label
      >
      <input
        id="password"
        [(ngModel)]="registerForm.fullname"
        placeholder="Juan Paolo Arías Hernandez"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Usuario</label
      >
      <input
        id="password"
        placeholder="arisu"
        [(ngModel)]="registerForm.username"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        [(ngModel)]="registerForm.password"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required
      />
    </div>
    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >País</label
      >

      <select
        id="password"
        [(ngModel)]="registerForm.country"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required
      >
        @for (pais of paises; track $index) {
        <option value="{{ pais.id }}">{{ pais.country }}</option>
        }
      </select>
    </div>
    <button
      (click)="register()"
      [disabled]="disabledRegister"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full"
    >
      Registrarse
    </button>

    <div class="mt-5">
      <a
        (click)="toggleRegister()"
        class="text-blue-500 hover:text-blue-800 select-none cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-blue-600 dark:hover:text-blue-700 dark:focus:ring-blue-800"
      >
        ¿Ya tienes una cuenta?, Inicia Sesión
      </a>
    </div>
  </article>
</main>
