<header class="bg-atm-950 p-3 px-4 flex justify-between items-center">
  <div class="flex gap-4 items-center">
    <span class="rounded-full size-8 md:size-12">
      <img
        class="rounded-full h-full object-cover"
        [src]="rutaImagen + userLogged.avatarUrl"
        alt="profile-img"
      />
    </span>
    <span class="text-atm-50/55"> &#64;{{ userLogged.alias }} </span>
  </div>
  <div
    class="hover:scale-110 hover:bg-atm-200 rounded-full p-1 hover:text-atm-950 transition-all cursor-pointer"
    (click)="logout()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-logout"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
      />
      <path d="M9 12h12l-3 -3" />
      <path d="M18 15l3 -3" />
    </svg>
  </div>
</header>

<main class="mx-8 mt-10">
  <header
    class="flex flex-col gap-3 text-center uppercase md:flex-row md:justify-between md:items-center"
  >
    <h1 class="font-bold">Lista de Tickets</h1>

    <button
      (click)="visibleCreateTicket = true"
      class="py-2 px-4 bg-atm-800 text-atm-50 rounded-lg block hover:scale-110 hover:bg-atm-600 transition-all"
    >
      Crear Ticket
    </button>
  </header>
  <section
    class="grid grid-flow-row grid-cols-1 gap-4 max-md:grid-cols-1 lg:grid-cols-3 my-10"
  >
    @for (ticket of tickets; track $index) {
    <app-ticket-card
      (click)="ticketSelected = ticket; visibleWorkTicket = true"
      [ticket]="ticket"
    ></app-ticket-card>
    }
  </section>
</main>

<p-dialog
  [(visible)]="visibleCreateTicket"
  [breakpoints]="{ '960px': '90dvh' }"
  [modal]="true"
  [maximizable]="true"
  position="top"
  [responsive]="true"
>
  <ng-template pTemplate="headless">
    <main class="bg-atm-950 rounded-lg">
      <header class="flex justify-between items-center gap-10 p-5">
        <h1 class="text-center text-lg font-bold">Crear Ticket</h1>
        <button
          class="rounded-full p-2 size-6 md:size-4 bg-red-700 justify-center items-center flex hover:bg-red-900 hover:scale-125 transition-all"
          (click)="visibleCreateTicket = false"
        ></button>
      </header>
      <section class="grid grid-flow-row grid-cols-1 gap-4 p-5">
        <input
          type="text"
          [(ngModel)]="nuevoTicket.titulo"
          class="p-3 bg-atm-700 rounded-lg outline-none focus:ring-1 focus:ring-atm-500 placeholder-text-atm-500 transition-all placeholder:text-atm-300"
          placeholder="Título"
        />
        <textarea
          [(ngModel)]="nuevoTicket.descripcion"
          class="p-3 bg-atm-700 rounded-lg outline-none focus:ring-1 focus:ring-atm-500 placeholder-text-atm-500 transition-all resize-none h-40 placeholder:text-atm-300"
          placeholder="Descripción"
        ></textarea>
        <p-dropdown
          [options]="prioridades"
          optionLabel="descripcion"
          optionValue="id"
          [(ngModel)]="nuevoTicket.idPrioridad"
          placeholder="Prioridad"
          styleClass="*:p-0 w-full bg-atm-700 p-3 outline-none focus:ring-1 focus:ring-atm-500 placeholder:text-atm-500 rounded-lg transition-all *:text-atm-300"
        ></p-dropdown>
        <div class="flex items-center space-x-6 bg-atm-700 p-2 rounded-lg">
          <div class="shrink-0">
            <img
              class="h-16 w-16 object-cover rounded-full"
              [src]="nuevoTicket.imagenBase64"
              onerror="this.error = null; this.src='https://archive.org/download/no-photo-available//no-photo-available.png'"
              alt="Current profile photo"
            />
          </div>
          <label class="block">
            <span class="sr-only">Escoger imagen del problema</span>
            <input
              type="file"
              id="profile"
              #fileUploaded
              (input)="fileToBase64(fileUploaded)"
              class="block w-full text-sm text-atm-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-atm-50 file:text-atm-700 hover:file:bg-atm-100"
            />
          </label>
        </div>
        <button
          (click)="createTicket()"
          class="bg-atm-500 text-atm-50 p-3 rounded-lg uppercase font-semibold transition-all hover:bg-atm-600"
        >
          Crear Ticket
        </button>
      </section>
    </main>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="visibleWorkTicket"
  [breakpoints]="{ '960px': '90dvh' }"
  [modal]="true"
  [responsive]="true"
  position="top"
>
  <ng-template pTemplate="headless">
    @if (!ticketSelected) {
    <main class="bg-atm-950 rounded-lg">
      <header class="flex justify-between items-center gap-10 p-5">
        <h1 class="text-center text-lg font-bold">Ticket #</h1>
        <button
          class="rounded-full p-2 size-6 md:size-4 bg-red-700 justify-center items-center flex hover:bg-red-900 hover:scale-125 transition-all"
          (click)="visibleWorkTicket = false"
        ></button>
      </header>
      <section class="grid grid-flow-row grid-cols-1 gap-4 p-5">
        <p class="text-center text-atm-50">
          Selecciona un ticket para trabajar
        </p>
      </section>
    </main>
    } @else {
    <main class="bg-atm-950 rounded-lg overflow-auto md:max-w-[75vw]">
      <header class="flex justify-between items-center gap-10 p-5">
        <h1 class="text-center text-lg font-bold">
          Ticket #{{ ticketSelected.id }}
        </h1>
        <button
          class="rounded-full p-2 size-6 md:size-4 bg-red-700 justify-center items-center flex hover:bg-red-900 hover:scale-125 transition-all"
          (click)="visibleWorkTicket = false; ticketSelected = null"
        ></button>
      </header>
      <section class="flex flex-col md:flex-row gap-3 p-5">
        <div class="flex flex-col gap-5 order-none md:order-2 md:max-w-80">
          <h1 class="text-lg font-semibold">Información</h1>
          <div class="flex flex-col gap-3 bg-atm-800 rounded-lg p-2">
            <!-- Titulo -->
            <h1 class="font-semibold">{{ ticketSelected.titulo }}</h1>
            <!-- Descripcion -->
            <p class="text-atm-50">{{ ticketSelected.descripcion }}</p>
          </div>
          <div class="flex flex-col gap-3 bg-atm-800 rounded-lg p-2">
            <span class="w-full flex flex-col gap-3">
              <span class="flex justify-between items-center">
                <span> Prioridad: </span>
                <span
                  class="py-1 px-4 rounded-lg uppercase
                  {{
                    ticketSelected.prioridad.id === 1
                      ? 'bg-red-700 text-white'
                      : ticketSelected.prioridad.id === 2
                      ? 'bg-orange-700 text-white'
                      : 'bg-green-700 text-white'
                  }}"
                >
                  {{ ticketSelected.prioridad.descripcion }}
                </span>
              </span>
              <span class="flex justify-between items-center">
                <span> Estado: </span>
                <span
                  class="py-1 px-4 rounded-lg uppercase
                  {{
                    ticketSelected.estado.id === 3
                      ? 'bg-red-700 text-white'
                      : ticketSelected.estado.id === 2
                      ? 'bg-orange-700 text-white'
                      : 'bg-green-700 text-white'
                  }}"
                >
                  {{ ticketSelected.estado.descripcion }}
                </span>
              </span>
            </span>
          </div>
          <div class="flex flex-col gap-3 bg-atm-800 rounded-lg p-2">
            <span>
              <h1>Creado Por</h1>
              <app-user-card [usuario]="ticketSelected.postBy"></app-user-card>
            </span>
            <span>
              <h1>Asignado a</h1>
              @if (ticketSelected.assignedTo) {
              <app-user-card
                [usuario]="ticketSelected.assignedTo"
              ></app-user-card>
              } @else {
              <span class="text-red-700">Sin Asignar</span>
              }
            </span>
          </div>
          @if (userLogged.rol.esAdmin) {
          <div class="flex flex-col gap-3 bg-atm-800 rounded-lg p-2">
            <span>
              <h1>Acciones</h1>
            </span>
            <span class="flex items-center justify-center gap-4">
              <button
                (click)="updateAsignedTicket()"
                class="px-3 rounded-lg py-1 border border-atm-300 hover:bg-atm-200 hover:text-atm-950 transition-all"
              >
                Asignarme
              </button>
              <button
                (click)="opTerminarTicket.toggle($event)"
                class="px-3 rounded-lg py-1 border border-atm-300 hover:bg-atm-200 hover:text-atm-950 transition-all"
              >
                Terminar
              </button>
            </span>
          </div>
          }
        </div>
        <div class="flex flex-col gap-5 order-none md:order-1 md:min-h-[35rem]">
          <h1 class="text-lg font-semibold">Chat</h1>
          <div
            class="bg-gray-900 rounded-lg p-3 flex flex-col justify-between h-full"
          >
            <!-- Lista de Mensajes -->
            <div class="flex flex-col gap-3">
              @for (message of ticketSelected.messages; track $index) {
              <app-message-chat [message]="message"> </app-message-chat>
              }
            </div>
            <!-- ! Enviar un nuevo mensaje -->
            <footer class="bg-atm-900 rounded-full flex mt-4 items-center">
              <textarea
                placeholder="Escribe un mensaje"
                [(ngModel)]="nuevoMensaje.message"
                class="bg-atm-900 p-2 pl-5 rounded-full placeholder:text-atm-200 flex-1 outline-none resize-none"
              ></textarea>
              <button
                class="p-2 border size-12 rounded-full items-center justify-center flex hover:scale-105 transition-all mr-3"
                (click)="nuevoMensajeEvent()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-send"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 14l11 -11" />
                  <path
                    d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                  />
                </svg>
              </button>
            </footer>
          </div>
        </div>
      </section>
    </main>
    }
  </ng-template>
</p-dialog>

<p-overlayPanel #opTerminarTicket>
  <ng-template pTemplate="headless">
    <main class="bg-atm-800 p-3 rounded-lg flex flex-col gap-4">
      <p-dropdown
        [options]="terminaciones"
        [(ngModel)]="terminacionSelected"
        placeholder="Seleccionar terminación"
        optionLabel="descripcion"
      ></p-dropdown>
      <button
        (click)="terminarTicket()"
        class="bg-atm-500 text-atm-50 p-3 rounded-lg uppercase font-semibold transition-all hover:bg-atm-600"
      >
        Terminar Ticket
      </button>
    </main>
  </ng-template>
</p-overlayPanel>
