@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  box-sizing: border-box;
  color-scheme: dark light;
}

// Cuando es un telefono:
@media (max-width: 768px) {
  :host ::ng-deep {
    p-toast {
      div.p-toast.p-component {
        width: 25vw !important;
      }
      div.p-toast-message-content {
        display: flex;
        flex-direction: column !important;
      }
    }
  }
}
