<article
  class="p-3 bg-atm-700 text-atm-50 rounded-lg hover:bg-atm-600 hover:scale-105 transition-all"
>
  <header class="text-center bg-atm-800 rounded-lg mb-3">
    {{ ticket.titulo }}
  </header>
  <main class="flex flex-col gap-3">
    <p class="text-pretty">
      {{ ticket.descripcion }}
    </p>
    <div class="font-bold">Prioridad: {{ ticket.prioridad.descripcion }}</div>
    <div class="font-bold {{ ticket.estado.terminado ? 'text-red-300' : '' }}">
      Estado: {{ ticket.estado.descripcion }}
    </div>
    @if (ticket.terminacion) {
    <div class="font-bold">
      Terminación: {{ ticket.terminacion.descripcion }} el
      {{ ticket.terminacion.createdAt | date : "dd/MM/yyyy" }}
    </div>
    }
    <div>
      <img
        loading="lazy"
        [src]="rutaImagen + ticket.messages[0].imagen?.url"
        class="h-20 w-full object-cover rounded-lg"
      />
    </div>
    <footer class="flex justify-between items-center mt-3">
      <atm-badge type="gray" [subtle]="true">
        {{ ticket.createdAt | date : "dd/MM/yyyy" }}
      </atm-badge>
      @if (ticket.assignedTo) {
      <atm-badge type="purple" [subtle]="true">
        {{ ticket.assignedTo.primerNombre }}
      </atm-badge>
      } @else {
      <atm-badge type="red" [subtle]="true"> Sin Asignar </atm-badge>
      }
    </footer>
  </main>
</article>
